<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsoleLoggingLevel" value="debug"/>
    
    <add key="buildFailedLightAlarmDurationInSeconds" value="300"/>
    <add key="httpFailedLightAlarmDurationInSeconds" value="20"/>
    <add key="standupTimeLightAlarmDurationInSeconds" value="20"/>
    
    <add key="EnableTCBuildCheck" value="true"/>
    <add key="EnableDevHTTPCheck" value="false"/>
    <add key="EnableStandupCheck" value="true"/>

    <add key="StandupHour" value="17"/>
    <add key="StandupMinutes" value="15"/>
    
    <add key="EnableFlashLight" value="false"/>
    <add key="EnableSounds" value="true"/>
  </appSettings>
</configuration>