<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="CheckIntervalInSeconds" value="15" />
    
    <add key="buildFailedLightAlarmDurationInSeconds" value="300"/>
    <add key="httpFailedLightAlarmDurationInSeconds" value="20"/>
    <add key="standupTimeLightAlarmDurationInSeconds" value="20"/>
    
    <add key="EnableTCBuildCheck" value="true"/>
    <add key="EnableDevHTTPCheck" value="false"/>
    <add key="EnableStandupCheck" value="true"/>

    <add key="StandupHour" value="8"/>
    <add key="StandupMinutes" value="30"/>
    
    <add key="EnableFlashLight" value="true"/>
    <add key="EnableSounds" value="true"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--throwExceptions="true" internalLogToConsole="true" internalLogLevel="Debug"-->
    <targets>
      <target name="debugFile" xsi:type="File" fileName="..\..\..\logs\debug.txt" layout="${date}|${level}|${logger}|${message}"/>
      <target name="hardwareDebugFile" xsi:type="File" fileName="..\..\..\logs\hardware_debug.txt" layout="${date}|${level}|${logger}|${message}"/>
      <target name="infoFile" xsi:type="File" fileName="..\..\..\logs\info.txt" layout="${date}|${level}|${logger}|${message}"/>
      <target name="console" xsi:type="ColoredConsole" layout="${date}|${logger:shortName=true}| ${message}">
        <highlight-row foregroundColor="Gray" condition="level == LogLevel.Debug" />
        <!--<highlight-row foregroundColor="Red" condition="level == LogLevel.Info and starts-with('${logger}', 'SomethingsWrong.Hardware.')" />-->
        <highlight-row foregroundColor="Yellow" condition="level == LogLevel.Info" />
        <highlight-row foregroundColor="Red" condition="level == LogLevel.Error" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="debugFile" />
      <logger name="SomethingsWrong.Hardware.*" minlevel="Debug" writeTo="hardwareDebugFile" />
      <logger name="*" minlevel="Info" writeTo="infoFile" />
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
</configuration>